.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Plus {
  width: 89px;
  height: 89px;
  padding: 10px 16px;
  font-size: 35px;
  line-height: 1.33;
  border-radius: 50%;
  background-color: lightgreen;
  border: none;
}

.Add-check {
  width: 129px;
  height: 35px;
  padding: 10px 16px;
  font-size: 15px;
  line-height: 1.33;
  border-radius: 15px;
  background-color: lightgreen;
  border: none;
  margin: 5px;
}

.Back-to-check {
  width: 159px;
  height: 35px;
  padding: 10px 16px;
  font-size: 15px;
  line-height: 1.33;
  border-radius: 15px;
  background-color: lightgreen;
  border: none;
  margin: 5px;
}

.CheckList {
  width: 259px;
  height: 35px;
  padding: 10px 16px;
  font-size: 15px;
  text-align: center;
  line-height: 1.33;
  border-radius: 15px;
  background-color: lightgreen;
  border: none;
  margin: 5px;
}

.Add-dish {
  width: 89px;
  height: 35px;
  padding: 10px 16px;
  font-size: 15px;
  line-height: 1.33;
  border-radius: 15px;
  background-color: lightgreen;
  border: none;
  /* margin: 5px; */
}

.Checks-grid {
  display: grid;
  padding: 10px 16px;
  grid-gap: 20px;
  grid-template-rows: 50fr, 30fr;
  grid-template-columns: 200px, 200px;
  grid-template-areas:
    'Check'
    'Check'
    'Check'
}

.Check {
  /* display: grid; */
  grid-area: "check";
  background-color: #FFF;
  padding: 20px;
}

.Dish {
  /* width: auto; */
  display: grid;
  /* grid-template-columns: 59px 59px; */
  grid-gap: 8px;
  /* grid-template-rows: 25px, 35px; */
  grid-template-areas:
  'DishName DishPrice'
}
.DishName {
  grid-area: DishName;
  grid-column: 1/1;
  width: 159px;
  border-radius: 3px;
  border: 1px solid  #999;
  height: 18px;
  font-size: 15px;
}

.DishPrice {
  grid-area: DishPrice;
  grid-column: 2/2;
  width: 89px;
  border-radius: 3px;
  border: 1px solid  #999;
  height: 18px;
  font-size: 15px;
}

.Dishes-grid {
  display: grid;
  grid-gap: 8px;
  /* grid-template-rows: 50fr, 30fr; */
  /* grid-template-columns: 200px, 200px; */
  grid-template-areas:
  'Dish1' 
  'Dish2'
  'Dish3'  
  
  
}

.Members-grid {
  display: grid;
  grid-gap: 15px;
  padding: 10px 16px;
  grid-template-rows: 50fr, 30fr;
  grid-template-columns: 200px, 200px;
  grid-template-areas:
  'Member'
  'Member'
  'Member'
}

.Member {
  /* display: grid; */
  grid-area: Member;
  /* background-color: #FFF;
  padding: 20px; */
}

.Input {
  width: 125px;
  border-radius: 3px;
  border: 1px solid  #999;
  height: 18px;
  font-size: 15px;
}


.Dish1 {
  /* display: grid; */
  grid-area: Dish1;
}

.Dish2 {
  /* display: grid; */
  grid-area: Dish2;
}

.Dish3 {
  /* display: grid; */
  grid-area: Dish3;
}